.fullscreen {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery-row img {
    max-width: 26%;
    display: flex;
}