/*  Estilos gerais e resets do CSS */
body, ul, li, h1, h2, p {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway";
    color: #303030;
}

img {
    max-width: 100%;
    display: block;   
}

a {
    text-decoration: none;
    display: block;
}

ul li {
    list-style: none;
}

.container {
    max-width: 60em;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Header */
header {
    background: url(../img/header/header-background.png) no-repeat center center;
    background-size: cover;
}

.logo {
    color: #6c7279;
    text-transform: uppercase;
}
.logo span {
    color: #fff;
}

.menu {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.25rem 0;
    align-items: center;
}

.menu ul li {
    display: inline-block;
    text-transform: uppercase;
}

.menu ul li a {
    display: inline-block;
    padding: 0.31em;
    margin-left: 1.5rem;
    font-size: 0.81em;
    color: #6c7279;
}

/* Cover */
.cover {
    margin: 0 auto;
    max-width: 60rem;
    text-align: center;
    margin-top: 9.375rem;
    padding-bottom: 9.375rem;
}

.cover h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 4.06em;
    line-height: 1.2em;
    font-weight: 700;
    text-align: center;
}

.cover p {
    margin-top: 1.5rem;
    font-size: 1.375em;
    text-align: center;
    line-height: 1.3em;
    color: #fff;
}

.button {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.81em;
    font-weight: bold;
    margin: 4rem auto 4rem auto;
    color: #fff;
    max-width: 12rem;
    padding: 10px 0;
    background-color: #e74747;
    border: 2px solid #e74747;
}

.button:hover {
    color: #fff;
    background: none;
}

section img {
    max-width: 5rem;
    height: auto;
}

/* Features */
.features {
    padding: 10rem 0;
}

.feature-item {
    max-width: 16rem;
    text-align: center;
    margin: 3rem 2rem;
}
.feature-item h3 {
   color: #3b3e41;
   text-transform: uppercase;
   font-weight: bold;
}

.feature-item p {
    color: #6c7279;
    line-height: 1.31em;
 }

.feature-item img {
    display: block;
    margin: 0 auto;
}


/* Gallery */

.fullscreen {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery-row img {
    max-width: 26%;
    display: flex;
}

/* Employee */

.team {
    padding: 10rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-item {
    max-width: 12rem;
}

.team-item h2 {
    font-size: 1.375em;
    color: #2d3033;
    font-family: "Raleway";
    margin: 1rem 0;
}

.team-item h3 {
    font-size: 0.812em;
    color: #e84545;
    font-family: "Raleway";
    text-transform: uppercase;
}

.team-item p {
    color: #6c7279;
    line-height: 1.31em;
    display: flex;
    justify-content: start;
}

.team-item img {
    max-width: 12rem;
}

.social-media-container {
    display: flex;
    justify-content: start;
    margin: 1.2rem 0;
}

.social-media-container a {
    border: solid 0.1rem #6c7279;
    margin: 0 0.1rem;
    padding: 0.25rem;
}
.social-media-container a:hover {
    background: black;
    border: solid 0.1rem black;
}


.social-media-container a img {
    width: 1.2rem;
}

